body {
    
    font-family: merriweather, serif;
    margin: 0;
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    
  }
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #d80505f1;
    font-family:  Merriweather, serif;;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
  }
  
  nav li {
    margin-right: 20px;
  
  }
  
  nav li:last-child {
    margin-right: 0;
  }

  nav img {
    vertical-align: middle;
    border-radius: 50%;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  .imagem-e-texto{
    display: flex;
    align-items: center;
  }
  .texto {
    margin-left: 0px;
    display: flex;
    font-size: 35px;
  }

  .imagem-e-texto img {
    width: 50%;
    margin-right: 20px;
  }
  .texto {
    width: 70%;
  }
  .centralizar{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .esportes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .esportes-imagem {
    width: 30%;
    margin: 10px;
  }
  .esportes-imagem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
  .esportes-texto {
    width: 100%;
    text-align: center;
    margin-top: 35px;
    font-size: 24px;
  }
  section {
    background-color: #ebe5e5;
    padding: 2em;
    margin-bottom: 20px;s
    box-shadow: 0 0 10px rgba(190, 184, 184, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  .carousel {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .carousel-item img {
    width: 95%;
    height: 95%;
    object-fit: cover;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: #e41111;
    font-size: 28px;
    text-align: center;
  }
  
  .prev, .next {
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  .prev:hover, .next:hover {
    background-color: #ccc;
  }

  .carousel-inner {
    animation: carousel-animation 10s infinite;
  }
  
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.67% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
 
  .carousel-inner {
    transition: transform 0.5s step-end;
  }
  
  .carousel-item {
    transition: transform 0.5s step-end;
  }
  
  .carousel-item.active {
    transform: translateX(0);
  }
  
  .carousel-item:not(.active) {
    transform: translateX(-100%);
  }
  
  .prev:focus ~ .carousel-inner {
    transform: translateX(100%);
  }
  
  .next:focus ~ .carousel-inner {
    transform: translateX(-100%);
  }
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  .sobre-nos {
    align-items: center;
   
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #666;
  }
  
  img {
    width: 50px; 
    height: 50px;
  }